<div style="margin-bottom: 100px;">
  <h3><%= current_user.username %>, here you can edit your review:</h3>
  <br><br>
  
  <form action="/reviews/<%= @attraction.slug%>/<%= @review.id %>" method="POST" id="review_edit">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
  
    <label><h3>Comment:</h3></label>
      <input style="width: 50%;"type="text" name="review[content]" value="<%=@review.content%>" required>
  
    <label><h3>Rating:</h3></label>
      <% (1..5).each do |num| %>
          <input type="radio" name="review[rating]" value="<%= num %>" <%= 'checked' if @review.rating == num %> required><%= num %>
      <% end %>
    <br><br>
  
  </form>
  
  <input style="padding: 3px;"form="review_edit" type="submit" value="Submit">
  <a href="/attractions/<%= @attraction.slug %>"><button style="padding: 3px;" type="button">Cancel</button></a>
</div>