<h1>Checkout our amazing locations:</h1>
<br>
<a href="/locations/new"><input type="submit" value="Add location"></a>
<br><br>

<ul>
  <%@locations.each do |location|%>
    <%=location.img_url%>
    <h3><a href="/locations/<%=location.slug%>"><%=location.name%></a></h3>
    <%if logged_in? && current_user.locations.include?(location)%>
      <a href="/locations/<%=location.slug%>/edit"><input type="button" value="Edit"></a>
    <%end%>
    <%=location.description%>
    <br><br>
  <%end%>
</ul>