<% content_for :title, "- #{@location.name}" %>

<div style="margin-bottom: 100px;">
  <img style="width: 550px; height: 350px;display: block; margin-left: auto; margin-right: auto; width: 50%;" src=<%=@location.img_url%>/> 
  <h3 style="text-align: center; margin-top: 10px;"><%=@location.name%></h3>
  <br><br>
  
  <h5 style="text-align: center; margin-top: 10px;"><%= @location.description %></h5>
  <br><br>
  
  <%if logged_in? && @current_user.locations.include?(@location)%>
    <a href="/locations/<%=@location.slug%>/edit"><input style="padding: 3px;" type="submit" value="Edit Location"/></a>
  <%end%>
  <br><br>
  
  <ol>
    <% @location.attractions.each do |attraction| %>
      <%if !attraction.name.nil?%>
        <h4><li><a href="/attractions/<%=attraction.slug%>"><%=attraction.name%></a></li></h4>
        <%= attraction.description %>
      <%end%>
      <br><br>
    <%end%>
  </ol>
</div>

