<h3>
  <style color="#33ccff">
    <% if flash.has?(:notice) %>
      <%= flash[:notice] %>
    <% end %>
  </style>
</h3>

<h1>Checkout our amazing attractions:</h1>

<br><br>

<ul>
  <%@attractions.each do |attraction|%>
    <%=attraction.img_url%>
    <h3><a href="/attractions/<%=attraction.slug%>"><%=attraction.name%></a></h3>
    <%=attraction.description%>
    <br><br>
  <%end%>
</ul>