<h1>Checkout our amazing attractions:</h1>

<br><br>

<ul>
  <%@attractions.each do |attraction|%>
    <%=attraction.img_url%>
    <h3><a href="/attractions/<%=attraction.slug%>"><%=attraction.name%></a></h3>
    <%if logged_in? && current_user.attractions.include?(attraction)%>
      <a href="/attractions/<%=attraction.slug%>/edit"><input type="button" value="Edit"></a>
    <%end%>
    <%=attraction.description%>
    <br><br>
  <%end%>
</ul>