<h3>
  <style color="#33ccff">
    <% if flash.has?(:notice) %>
      <%= flash[:notice] %>
    <% end %>
  </style>
</h3>

<h4><%= @attraction.name %></h4>
  <% if !!@attraction && @attraction.user == @current_user %>
    <a href="/attractions/<%= @attraction.slug %>/edit"><input type="submit" value="Edit Attraction"/></a>
  <% end %>
<br><br>

<%= @attraction.description %>
<br><br><br><br>


<h3>Reviews</h3>
<br>

<% @attraction.reviews.each do |review| %>
  <b><%= review.user.username %></b>
  <% if !!review.updated_at %>
    <%= review.updated_at.strftime("%B, %d, %Y") %>
  <% else %>
    <%= review.created_at.strftime("%B, %d, %Y") %>
  <% end %>
  <br>

  <%= review.content %> 
  <% if logged_in? && review.user == current_user %>
  <a href="/locations/<%=@location.slug%>/edit"><input type="submit" value="Edit Location"/></a>
  <% end %>
  <br><br>
<% end %>