<h4><%= @attraction.name %></h4>
  <% if !!@attraction && @attraction.user == @current_user %>
    <a href="/attractions/<%= @attraction.slug %>/edit"><input type="submit" value="Edit"/></a>
    <form action="/attractions/<%= @attraction.slug %>" method="POST">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete"/></a>
    </form>
  <% end %>
<br><br>

<%= @attraction.description %>
<br><br><br><br>


<h3>Reviews</h3>
<br>

<% if logged_in? %>
  <a href="/reviews/<%= @attraction.slug %>/add_review"><i>Leave review</i></a>
  <br><br>
<% end %>

<% @attraction.reviews.each do |review| %>
  <b><%= review.user.username %></b>
  <%= review.created_at.strftime("%B, %d, %Y") %>
  <% if review.user == current_user %>
    <a href="/reviews/<%= @attraction.slug %>/<%= review.id %>/edit"><input type="submit" value="Edit"/></a>
    <form action="/reviews/<%= @attraction.slug %>/<%= review.id %>" method="POST">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  <% end %>
  <br>

  <%= review.content %> 
  <br><br>
<% end %>